<!DOCTYPE html>
<html lang="en">
<style>
      h1, h2, h3, form {
        text-align: center;
        color: darkblue;
    }

    table {
        color: purple;
        text-align: center;
        margin-left: 100px;
    }
    button {
        background-color: darkseagreen;
        color: white;
        margin: 10px;
        padding: 10px;
        margin-left: 45%;
    }


</style>
<head>
    <title>~ Create New ~</title>
</head>

<body>
    <form action='/createtrip' method='POST'>
        {% csrf_token %} 
            {% if messages %} 
                {% for message in messages %}
                    <h3> {{ message }} </h3>
                {% endfor %} 
            {% endif %}

        <h1>Hi, {{first_name}} !</h1>
        <h2> Let's add a new trip! </h2>

        Add A New Trip:
        <input type="text" name="dest">
        <br> Trip Description:
        <input type="message" name="description">
        <br> Start date:
        <input type="date" name="start_date">
        <br>End date:
        <input type="date" name="end_date">
        <br>
        <input type="submit" value="ADD TO LIST">
    </form>
    <button>
        <a href='/show'> Cancel </a>
    </button>

    <!-- <input type="submit" name="" value="Log Off"> -->

    <form action="/" , method="POST">
        {% csrf_token %} 

        <button>
            <a href='/logout'> Log Out</a>
        </button>
    </form>
</body>

</html>