


<form asp-controller="Home" asp-action="showdojo" method="POST">
<h1> Dojo Show Page></h1>

<h2>@ViewBag.Dojo.DojoName</h2>
<h3>Dojo Location: @ViewBag.Dojo.DojoLocation </h3>
<h3>Information: @ViewBag.Dojo.DojoDescription </h3>

<p><a href="/dojos">Back to Dojos</a></p>

</form>
