@using ViewModelFun.Models;
@model Users;

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>

    </head>
    
    <body>
        <h1>This is the Users page.</h1>

            Users:
            @foreach(var users in @Model.listofusers) 
            {
            <h4>@users</h4>
            }

        <a href= "/"> Home page </a> <br>
        <a href= "/number"> Numbers page </a> <br>
        <a href= "/user"> User page </a> <br> 

    </body>
    
</html>
