@model CExam.Models.RegisterViewModel

<h1> Welcome!  </h1>

<h2> Please login or register here. </h2>


<a href="/register"> Click here to register. </a> <br> <br> 
<a href="/login"> Click here to login. </a>