<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
    </head>

    <body>
        <h3>Time and Date :</h3>
        <p> The current time and date is: </p>

      <p> The date is: @DateTime.Now.ToString("MM - dd - yyyy")</p>
      <p> The time is: @DateTime.Now.ToString("hh:mm:tt")</p>
    </body>
</html>
