<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dojo Survey</title>

    <style>
        .main {
            width: 600px;
            height: 400px;
            background-color: lightblue;
        } 
        .boxes h1, h2 {
            text-align: center;
        }

        .boxes{
            color: purple;
            font-size: 20px;
            
        }
    </style>
</head>
<body>
        <div class= main>
        <form id="userform" action="userformsubmit" method="post">
                <div class= boxes>
                <h1> Coding Dojo Survey</h1>
                <h2> Take this awesome Coding Dojo Survey!</h2>
                <div class= boxes>
                Your Name:
                <input type="text" id="name" name="name" >
                <br>
            
                Dojo Location: 
                <select name='location'>
                     <option value='Paris'>Paris</option>
                     <option value='MilkyWay'>MilkyWay</option>
                     <option value='Chicago'>Chicago</option>
                     <option value='Santorini'>Santorini</option>
                     <option value='USA'>USA</option>
                     <option value='NewYork'>NewYork</option>
                     <option value='Milan'>Milan</option>
                     <option value='Orlando'>Orlando</option>
                </select><br>

                Favorite Language:
                <select name='language'>
                        <option value='Python'>Python</option>
                        <option value='JavaScript'>JavaScript</option>
                        <option value='C#'>C#</option>
                        <option value='C++'>C++</option>
                        <option value='MEAN'>MEAN</option>
                        <option value='Ruby'>Ruby</option>
                        <option value='HTML'>HTML</option>
                        <option value='CSS'>CSS</option>
                </select>
                </div>

                Comment : <br>
                <textarea name='message'></textarea>
                <br>
                <input type='submit' value='Click this button!'>
               
        </form>
        </div>
      
        
</body>

</html>