<!DOCTYPE html>
<html lang="en">

<head>
        <style>
            .main
                {
                width: 600px;
                height: 400px;
                background-color: lightblue;
                }
            h1, h2, p {
                text-align: center;
                color: purple;
                background-color: sky
                }
            
        </style>
    <title> Survey </title>
</head>

<body>
    <div class='main'>
        <h1> Thanks for taking the survey! </h1>
        <p> Name: @ViewBag.name </p>
        <p> Location: @ViewBag.location </p>
        <p> Language: @ViewBag.language </p>
        <p> Comment: @ViewBag.message </p><br>
        
        <p> <button> <a href='/'> Go Back </a> </button> </p>
    </div>
</body>
</form>

</html>